<div class="do-policy-alerts">
  <h1><i></i>
    <label>Datos Alert Feed</label>
    <div class="clearfix"></div>
  </h1>
  <div class="do-alert-content clearfix">
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Data Source 1</a>
        <p> Alert 1 </p>
        <span>2 hrs</span> </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Data Source 2</a>
        <p> Alert 2 </p>
        <span>50 min</span> </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policy abc</a>
        <p> Alert 3 </p>
        <span>30 min</span> </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policy xyz</a>
        <p> Alert 4 </p>
        <span>30 min</span> </div>
    </div>
  </div>
</div>
