<div class="container-fluid do-metadata">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Metadata Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"> Select Metadata Category: </div>
      <div class="col-md-4">
        <ul>
          <form class="form-metadata-category">
            <li>
              <div class="metadata-category radio">
                <label>
                  <input type="radio" name="optionsRadios" id="datLevel" value="option1" checked="checked">
                  Application </label>
              </div>
            </li>
            <li>
              <div class="metadata-category radio">
                <label>
                  <input type="radio" name="optionsRadios" id="colLevel" value="option2" checked="">
                  Data </label>
              </div>
            </li>
            <li>
              <div class="metadata-category radio">
                <label>
                  <input type="radio" name="optionsRadios" id="docLevel" value="option3" checked="">
                  Policies </label>
              </div>
            </li>
            <li>
              <div class="metadata-category radio">
                <label>
                  <input type="radio" name="optionsRadios" id="docLevel" value="option4" checked="">
                  Lineage </label>
              </div>
            </li>
          </form>
        </ul>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="clearfix mt-20"></div>
    <div class="row">
      <div class="col-sm-3"> Specify Your Query: </div>
      <div class="col-sm-4">
        <div class="dropdown source-type-dropdown"> <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" >options &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="caret" ></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a>option1</a></li>
            <li><a>option2</a></li>
            <li><a>option2</a></li>
            <li><a>option4</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="clearfix mt-20"></div>
    <div class="row">
      <div class="col-sm-3"> Customize Your Query: </div>
      <div class="col-sm-4">
        <textarea class="form-control" id="description" name=""></textarea>
      </div>
      <div class="col-md-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-4">
        <button class="btn btn-primary save-metadata-query" data-dismiss="modal" aria-hidden="true">Save</button>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="clearfix mt-20"></div>
    <div class="row">
      <div class="col-sm-3"> Metadata Result: </div>
      <div class="col-sm-4">
        <textarea class="form-control" id="description" name=""></textarea>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
