<div class="do-policy-alerts">
  <h1><span class="alert-policies"></span>
    <label>Policies</label>
    <div class="clearfix"></div>
  </h1>
  <div class="do-alert-content clearfix">
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policy 1</a>
      	<div class="clearfix">
      		<a href="javascript:void(0)" class="alert-stopped"></a>
      		
      	</div>
        <p> xy_db_1</p>
        </div>
    </div><br>
     <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policy 2</a>
      	<div class="clearfix">
      		<a href="javascript:void(0)" class="alert-running"></a>
      	</div>
        <p> xy_db_1</p>
        </div>
    </div><br>
     <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policy 3</a>
      	<div class="clearfix">
      		<a href="javascript:void(0)" class="alert-scheduled"></a>
      	</div>
       <p> xy_db_1</p>
        </div>
    </div>

  </div>
</div>
