<div class="do-policy-alerts do-rtask">
  <h1><i></i>
    <label>Recent Task</label>
    <div class="clearfix"></div>
  </h1>
  <div class="do-alert-content clearfix">
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Data Sources</a>
        <p>Task 1</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policies</a>
        <p> Task 2 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Time Travel</a>
        <p> Task 3 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Policies</a>
        <p> Task 4 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <a href="javascript:void(0)">Time Travel</a>
        <p> Task 5 </p>
      </div>
    </div>
  </div>
</div>
